.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  width: 120px;
  height: 100px;
  animation: spin 4s linear infinite;
}
@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: #282c34 !important;
}
.App-components{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
}

