.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 120px;
  height: 100px;
}
.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: #282c34 !important;
}
.App-components{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
}

